@charset "UTF-8";

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
:root {
    --fonte1 : Verdana, Geneva, Tahoma, sans-serif;
    --fonte2 : "Sriracha", cursive;
    --fonte3 : "Passion One", sans-serif;
}

 * {
    margin:  0px;
    padding: 0px;
 }

 html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
 }

 header {
    background-color: black;
    color: white;
    text-align: center;
 }

 header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
 }

 header > p {
    padding-bottom: 50px;
 }

 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
 }

 a:hover {
    text-decoration: underline;
 }
 
 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 2vw;
 }

 section.normal {
    background-color: white;
    color: black;
 }

 section.imagem {
    background-color: rgb(93, 93, 93);
    color: white;
 }

 section.imagem > p {
    background-color: rgb(59, 59, 59);
    padding: 5px;
    display: inline-block;
 }

 footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.8vw;
 }

 footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
 }

 footer a:hover {
    text-decoration: underline;
 }

